version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.8

    working_directory: /go/src/github.com/{{ORG_NAME}}/{{REPO_NAME}}
    steps:
      - checkout

      - run: go get -v -t -d ./...
      - run: go test -v ./...
      - run: GOOS=linux GOARCH=amd64 go build -o telly_linux_amd64
      - run: GOOS=darwin GOARCH=amd64 go build -o telly_darwin_amd64
      - run: GOOS=windows GOARCH=amd64 go build -o telly_windows_amd64.exe
